<div class="featured-section overlay-color-2" style="background-image: url('assets/images/bg_2.jpg');">
    
    <div class="container">
      <div class="row">

        <div class="col-md-6 mb-5 mb-md-0">
          <img src="assets/images/bg_2.jpg" alt="Image placeholder" class="img-fluid">
        </div>

        <div class="col-md-6 pl-md-5">

          <div class="form-volunteer">
            
            <h2>Join our team</h2>
            <form 
            action="https://docs.google.com/forms/u/0/d/e/1FAIpQLSea44cpXvB4lQdS2YWUC7hyLJu-qrTynU294Lh6Dfn9R3cTIw/formResponse" 
            method="post"
            target="response"
            id="joinForm"
            class="needs-validation"
            novalidate
            >
              <div class="form-group">
                <!-- <label for="name">Name</label> -->
                <input name="entry.430831011" type="text" class="form-control py-2" id="name" placeholder="Enter your name" required>
              </div>
              <div class="form-group">
                <!-- <label for="email">Email</label> -->
                <input name="entry.1263925510" type="email" class="form-control py-2" id="email" placeholder="Enter your email" required>
              </div>
              <div class="form-group">
                <!-- <label for="email">Email</label> -->
                <input name="entry.840067693" type="text" class="form-control py-2" id="occupation" placeholder="Enter your occupation" required>
              </div>
              <div class="form-group">
                <!-- <label for="email">Email</label> -->
                <input name="entry.1857187905" type="text" class="form-control py-2" id="linkedin" placeholder="Enter your Linkedin profile link">
              </div>
              <div class="form-group">
                <!-- <label for="v_message">Email</label> -->
                <textarea name="entry.1108490891" id="" cols="30" rows="3" class="form-control py-2" placeholder="Write your message" required></textarea>
                <!-- <input type="text" class="form-control py-2" id="email"> -->
              </div>
              <div class="form-group">
                <input type="submit" class="btn btn-white px-5 py-2" value="Send">
              </div>
            </form>
          </div>
        </div>

        <iframe name="response" style="visibility: hidden;"></iframe>
        
      </div>
    </div>

  </div> <!-- .featured-donate -->