<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
      <a class="navbar-brand" href="index.html"><img width="15%" src="/assets/images/{{ site.logo_file }}" alt=""></a>
      <!-- <a class="navbar-brand" href="index.html">{{ site.title }}</a> -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="oi oi-menu"></span>
      </button>

      <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav ml-auto">
            {% for link in site.data.site.navlinks %}
                <li class="nav-item"><a href="/{{ link.path }}" class="nav-link">{{ link.name }}</a></li>
            {% endfor %}
        </ul>
      </div>
    </div>
</nav>