<!-- <style type="text/css" media="screen">
  .container {
    margin: 10px auto;
    max-width: 600px;
    text-align: center;
  }
  h1 {
    margin: 30px 0;
    font-size: 4em;
    line-height: 1;
    letter-spacing: -1px;
  }
</style> -->
<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    
  {% include navbar.html %}
  <!-- END nav -->

<div class="site-section section-counter">
  <div class="container">
    <div class="row">
      
      <div class="col-md-6 welcome-text">
        <h1>404</h1>
        <h2 class="display-4 mb-3">Page not found :(</h2>
        <p class="lead">The requested page could not be found.</p>
        <p class="mb-4">{{site.email}}</p>
        <!-- <p class="mb-0"><a href="#" class="btn btn-primary px-3 py-2">Learn More</a></p> -->
      </div>

    </div>
  </div>
</div>

</body>
</html>
